{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    添加协会
{% endblock %}
{% block header_name %}
    添加协会
{% endblock %}
{% block body %}
      <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'institute' %}">协会管理</a></li>
      <li class="breadcrumb-item active">添加协会</li>
    </ul>
    </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form id="form" action="{% url 'institute_create' %}" method="post">
          {% csrf_token %}
          {{ form.media }}
          {{ form|crispy }}
        </form>
        <div class="form-group">
          <button type="submit" class="btn btn-primary button-submit">提交</button>

        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script>
    $('.button-submit').click(function () {
        $('#form').submit()
    })
  </script>

{% endblock %}
