[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django-environ = "*"
django = "==2.2.6"
django-redis = "*"
django-crispy-forms = "==1.7.2"
sorl-thumbnail = "*"
django-debug-toolbar = "==2.0"
django-extensions = "==2.2.1"
mysqlclient = "==1.4.2.post1"
argon2-cffi = "==19.1.0"
xlrd = "*"

[requires]
python_version = "3.7"
