[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django-environ = "*"
django = "==2.2.6"
django-redis = "*"
django-crispy-forms = "==1.7.2"
django-debug-toolbar = "==2.0"
django-extensions = "==2.2.1"
mysqlclient = "==1.4.2.post1"
argon2-cffi = "==19.1.0"
xlrd = "*"
xlwt = "*"
django-ckeditor = "*"
pillow = "*"
django-test-plus = "*"
pyecharts = "*"
django-celery-beat = "*"
django-celery-email = "*"
celery = "==5.2.2"
msgpack-python = "*"
msgpack = "*"
qrcode = "*"

[requires]
python_version = "3.7"
