{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    管理员新增
{% endblock %}
{% block header_name %}
    管理员新增
{% endblock %}
{% block body %}
      <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'users:admins' %}">管理员管理</a></li>
      <li class="breadcrumb-item active">管理员新增</li>
    </ul>
    </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form id="profile_form" action="{% url 'users:admin_create'%}" method="post">
          {% csrf_token %}
          {{ form.media }}
          {{ form|crispy }}
        </form>
        <div class="form-group">
          <button type="submit" class="btn btn-primary button-submit">提交</button>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block js %}
  <script>
    $(function () {
        $('.button-submit').click(function () {
            $('#profile_form').submit()
        })
    })
  </script>
{% endblock %}
