{% extends 'base.html' %}
{% block title %}
    我的个人资料
{% endblock %}
{% block header_name %}
    我的个人资料
{% endblock %}
{% block body %}
      <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
      <li class="breadcrumb-item active">我的个人资料</li>
    </ul>
    </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">个人资料</h1>
              <p style="color: red">注意：若您的邮箱信息发生变动，请点击申请变更按钮，提交申请。</p>
              <p class="card-text">姓名：{% if admin.name %}{{ admin.name }}{% else %}暂无{% endif %}</p>
              <p class="card-text">邮箱：{{ admin.email }}</p>
              <p class="card-text">权限：{{ admin.get_role_display }}</p>
              <p class="card-text">学院：{% if admin.academy %}{{ admin.academy }}{% else %}-{% endif %}</p>
              <p class="card-text">年级：{% if admin.grade %}{{ admin.grade }}{% else %}-{% endif %}</p>
              <p class="card-text">班级：{% if admin.klass %}{{ admin.klass }}{% else %}-{% endif %}</p>
              <p class="card-text">注册时间：{{ admin.date_joined }}</p>
              <p class="card-text">上次登录：{{ admin.last_login }}</p>
              {% if admin.is_freeze %}
                <p class="card-text">账户状态：<span style="color: red">冻结</span></p>
              {% else %}
                <p class="card-text">账户状态：<span style="color: green">正常</span></p>
              {% endif %}
              {% if not request.user.is_superuser %}
                <p class="card-text">
                  <a href="{% url 'users:password_change' %}" class="btn btn-warning">更改密码</a>
                  <button id="email-change-btn" class="btn btn-primary">改绑邮箱</button>
                  <button data-id="{{ request.user.pk }}" id="delete-account" class="btn btn-danger" >删除本账号</button>
                </p>
              {% endif %}


            </div>
          </div>
      </div>

    <div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">改绑邮箱</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="code-input" class="col-form-label">验证码:</label>
                <input type="text" class="form-control" id="code-input">
              </div>
              <div class="form-group">
                <label for="new-email-input" class="col-form-label">新邮箱号:</label>
                <input type="text" class="form-control" id="new-email-input">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="confirm-change-email-btn">确认修改</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    $(function () {
      $('#delete-account').click(function () {
        if (window.confirm("确认删除账号吗？删除后您将无法登陆系统，但所有数据将会被保留")) {
          $.post({
            url: "/users/admin-delete/" + $(this).attr("data-id"),
            success: res => {
              console.log(res)
            }
          })
        }
      })

      $('#email-change-btn').click(function () {
        // 邮箱改绑弹出模态框并发送验证码
        $.get({
          url: "/users/email/change/",
          success: res => {
            $('#changeEmailModal').modal()
          }
        })
      })

      $('#confirm-change-email-btn').click(function () {
        // 确认修改邮箱按钮
        let new_email = $('#new-email-input').val()
        let code = $('#code-input').val()
        if (new_email && code) {
          $.post({
            url: "/users/email/change/",
            data: {
              code,
              email: new_email
            },
            success: res => {
              if (res.status === 'ok') {
                alert('改绑邮箱成功！下次登录请使用新邮箱登录！')
                window.location.reload()
              } else {
                alert('邮箱验证码错误！')
              }
            }
          })
        }
      })
    })
  </script>
{% endblock %}
