{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    首页
{% endblock %}

{% block header_name %}
    首页
{% endblock %}

{% block body %}
    <!-- Dashboard Counts Section-->
    <section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
      <div class="row bg-white has-shadow">
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-violet"><i class="icon-user"></i></div>
            <div class="title"><span>总学生数</span>
              <div class="progress">
                <div role="progressbar" style="width: 25%; height: 4px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
              </div>
            </div>
            <div class="number"><strong>{{ student_nums }}</strong></div>
          </div>
        </div>
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-red"><i class="icon-padnote"></i></div>
            <div class="title"><span>总活动数</span>
              <div class="progress">
                <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
              </div>
            </div>
            <div class="number"><strong>{{ activity_nums }}</strong></div>
          </div>
        </div>
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-green"><i class="icon-bill"></i></div>
            <div class="title"><span>管理员数</span>
              <div class="progress">
                <div role="progressbar" style="width: 40%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
              </div>
            </div>
            <div class="number"><strong>{{ admin_nums }}</strong></div>
          </div>
        </div>
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-orange"><i class="icon-check"></i></div>
            <div class="title"><span>等待审核</span>
              <div class="progress">
                <div role="progressbar" style="width: 50%; height: 4px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
              </div>
            </div>
            <div class="number"><strong>{{ verifying_admin_nums }}</strong></div>
          </div>
        </div>
      </div>
    </div>
    </section>
  <br>
    <!-- Projects Section-->
    <section class="projects no-padding-top">
    <div class="container-fluid">
      <h1>正在进行的活动</h1>
      <!-- Project-->
      {% for activity in activities %}
        <div class="project">
        <div class="row bg-white has-shadow">
          <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
            <div class="project-title d-flex align-items-center">
              <div class="image has-shadow"><img src="{% static 'img/project-1.jpg' %}" alt="..." class="img-fluid"></div>
              <div class="text">
                <h3 class="h4"><a href="{% url 'activities:activity_detail' activity.pk %}">{{ activity.name }}</a></h3>
                <small>
                  <span class="badge badge-success">{{ activity.get_credit_type_display }}</span>
                </small>
              </div>
            </div>
            <div class="project-date"><span class="hidden-sm-down">{{ activity.time }}</span></div>
          </div>
          <div class="right-col col-lg-6 d-flex align-items-center">
            <div class="time"><i class="fa fa-clock-o"></i>发布时间：{{ activity.updated_at }}</div>
            <div class="time"><i class="fa fa-clock-o"></i>主办方：{{ activity.sponsor }}</div>

          </div>
        </div>
      </div>
      {% endfor %}




    </div>
    </section>
{% endblock %}

{% block js %}
    <script src={% static 'js/charts-home.js' %}></script>
{% endblock %}
