{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    添加补录数据
{% endblock %}
{% block header_name %}
    添加补录数据
{% endblock %}
{% block body %}
      <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'students:student_credit_apply' %}">补录学时</a></li>
      <li class="breadcrumb-item active">添加补录数据</li>
    </ul>
    </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form id="student_form" action="{% url 'students:student_credit_apply_manually' %}" method="post">
          {% csrf_token %}
          {{ form.media }}
          {{ form|crispy }}
        </form>
        <div class="form-group">
          <button type="submit" class="btn btn-primary button-submit">提交</button>

        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js %}
  <script>
    $(function () {
        $('.button-submit').click(function () {
            $('#student_form').submit()
        })
    })
  </script>
{% endblock %}
