{% extends 'base.html' %}
{% block title %}
    学生管理
{% endblock %}
{% block header_name %}
    学生管理
{% endblock %}
{% block body %}
      <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'students:students' %}">学生管理</a></li>
      <li class="breadcrumb-item active">学生详情</li>
    </ul>
    </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">详细信息</h4>
              <p class="card-text">学号：{{ student.uid }}</p>
              <p class="card-text">姓名：{{ student.name }}</p>
              <p class="card-text">学院：{{ student.academy }}</p>
              <p class="card-text">年级：{{ student.grade }}</p>
              <p class="card-text">班级：{{ student.clazz }}</p>
              <p class="card-text">总学时：{{ student.credit }}</p>
              <p class="card-text">创新创业学时：{{ student.cxcy_credit }}</p>
              <p class="card-text">思想道德学时：{{ student.sxdd_credit }}</p>
              <p class="card-text">法律学时：{{ student.fl_credit }}</p>
              <p class="card-text">文体学时：{{ student.wt_credit }}</p>
              <p class="card-text">心理学时：{{ student.xl_credit }}</p>
              <a class="btn btn-primary" href="{% url 'students:students' %}">返回</a>
            </div>
          </div>
      </div>


    </div>
  </div>




{% endblock %}

