{% extends 'users/user_base.html' %}
{% load static crispy_forms_tags %}
{% block title %}
    登录
{% endblock %}
{% block body %}
<!-- Form Panel    -->
    <div class="col-lg-6 bg-white">
        <div class="form d-flex align-items-center">
        <div class="content">
          <form method="post" class="form-validate" action="{% url 'users:login' %}">
            <div class="form-group">
              <input id="login-username" name="email" required data-msg="请输入您的账号或邮箱" class="input-material">
              <label for="login-username" class="label-material">账号</label>
            </div>
            <div class="form-group">
              <input id="login-password" type="password" name="password" required data-msg="请输入您的密码" class="input-material">
              <label for="login-password" class="label-material">密码</label>
              {% if error %}
                <div style="color: red">{{ error }}</div>
              {% endif %}
            </div>
{#              {% crispy form %}#}
              {% csrf_token %}
              <button type="submit" id="login" href="#" class="btn btn-primary">登录</button>
            <!-- This should be submit button but I replaced it with <a> for demo purposes-->
          </form><a href="{% url 'users:password_reset' %}" class="forgot-pass">忘记密码?</a><br><small>还没有账号? </small><a href="{% url 'users:register' %}" class="signup">注册</a>
          <br><br>
          <p>请使用谷歌或火狐浏览器访问本站，<a href="http://www.firefox.com.cn/">前往下载</a></p>
        </div>
      </div>
    </div>
{% endblock %}
