{% extends 'base.html' %}
{% load crispy_forms_tags static %}
{% block title %}
    发布活动
{% endblock %}
{% block header_name %}
    发布活动
{% endblock %}
{% block css %}
    <link href="https://cdn.bootcss.com/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" rel="stylesheet">
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #eee;
      z-index: 9999;
        }
  </style>
{% endblock %}
{% block body %}
      <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'activities:activities' %}">活动管理</a></li>
      <li class="breadcrumb-item active">发布活动</li>
    </ul>
    </div>

  <br>
  <div class="container">
    <div class="row">
      <div style="position: fixed; top: 0; right: 0" id="toast-container"></div>
      <div class="col-md-8 offset-md-2">

        <form id="activity_form" action="{% url 'activities:activity_create_by_org' %}" method="post" enctype="multipart/form-data">



          {% csrf_token %}
          {{ form|crispy }}
          {{ form.media }}

        </form>
        <div class="footer">
            <button type="submit" class="btn btn-primary pull-right btn-lg" id="button-activity">发布活动</button>
          </div>

      </div>

    </div>
  <br><br>
  </div>

{% endblock %}

{% block js %}
  <script src="https://cdn.bootcss.com/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
{#  <script src="{% static 'js/toast.js' %}"></script>#}
  <script>
    $(function() {
        $('input[value="全部"]').change(function () {
          let isChecked = $(this).prop("checked")
          if (isChecked) {
            // 全部选中了
            $('input[type="checkbox"]').prop("checked", true)
          } else {
            $('input[type="checkbox"]').prop("checked", false)
          }
        })

        datetimepickerComponent();

        $('#button-activity').click(function () {
            $('#activity_form').submit();
        });
        function datetimepickerComponent(){
            $.datetimepicker.setLocale('zh');
            params = {
                lang: 'zh',
                format: 'Y-m-d H:i',//格式化显示
            };
            $('#id_deadline').datetimepicker(params).attr("autocomplete", "off").attr("readonly", "readonly");
            $('#id_time').datetimepicker(params).attr("readonly", "readonly");

        };


        $('#id_time').attr("autocomplete", "off");
        $('#id_logo').removeClass('custom-file-input form-control')
            .parent().removeClass('custom-file')
        $('#id_file').removeClass('custom-file-input form-control')
            .parent().removeClass('custom-file')
        $('.custom-file-label').hide()
    })
  </script>
{% endblock %}
