{% extends 'base.html' %}
{% load static %}
{% block title %}
    活动管理
{% endblock %}
{% block header_name %}
    活动管理
{% endblock %}
{% block body %}
      <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
      <li class="breadcrumb-item active">活动管理</li>
    </ul>
    </div>

    <section class="tables">
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                &nbsp;&nbsp;&nbsp;<input type="checkbox" id="checkAll" name='CheckAll'>
                <div class="btn-group">
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      筛选活动
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'students:students' %}">全部</a>
                      {% for academy in academy_list %}
                        <a class="dropdown-item" href="?academy={{ academy }}" id="auto-select-academy">{{ academy }}</a>
                      {% endfor %}
                    </div>
                  </div>

                <a href="{% url 'activities:activity_create' %}" class="btn btn-outline-success pull-right">发布活动</a>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>选择</th>
                        <th>活动名称</th>
                        <th>活动时间</th>
                        <th>组织方</th>
                        <th>发布者</th>
                        <th>参与者学时</th>
                        <th>工作人员学时</th>
                        <th>观众学时</th>
                        <th>是否审核</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% with role=request.user.role %}
                      {% for activity in activities %}
                          <tr data-uid="{{ activity.uid }}">
                          <td><input type="checkbox" name="activity-checkbox" value="{{ activity.uid }}"></td>
                          <td style="font-weight: bold"><a href="{% url 'activities:activity_detail' activity.pk %}">{{ activity.name }}</a></td>
                          <td>{{ activity.time }}</td>
                          <td>{{ activity.sponsor }}</td>
                          <td>{{ activity.user.name }}</td>
                          <td style="color: blue">{{ activity.score_player }}</td>
                          <td style="color: blue">{{ activity.score_staff }}</td>
                          <td style="color: blue">{{ activity.score_viewer }}</td>
                          <td>{{ activity.is_verify }}</td>
                          <td>
                            {% if role == 1 or role == 2 %}
{#                              <a href="{% url 'students:student_detail' student.pk %}" class="btn btn-success btn-sm">查看</a>#}
                              <a href="{% url 'activities:activity_update' activity.pk %}" class="btn btn-warning btn-sm">编辑</a>
                            {% endif %}
                          </td>
                          </tr>
                      {% endfor %}
                    {% endwith %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'pagination.html' %}
{% endblock %}


