{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    发布活动
{% endblock %}
{% block header_name %}
    发布活动
{% endblock %}
{% block body %}
      <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'activities:activities' %}">活动管理</a></li>
      <li class="breadcrumb-item active">发布活动</li>
    </ul>
    </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form id="activity_form" action="{% url 'activities:activity_create' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.media }}
          {{ form|crispy }}

          <div class="form-group">
            <label for="select_academy">选择学院</label>
            <select name="academy" id="select_academy" onchange="academyChange()">
              <option selected value="0">请选择</option>
              {% for academy in academies %}
                <option value="{{ academy.pk }}">{{ academy.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="select_to">选择审核者</label>
            <select name="academy" id="select_to">
              <option value="0">请先选择学院</option>
          </select>
          </div>

        </form>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg pull-right" id="button-activity">发布活动</button>
        </div>
      </div>

    </div>
  <br><br>
  </div>

{% endblock %}

{% block js %}
  <script>
    $(function () {
        $('#button-activity').click(function () {
            $('#activity_form').submit();
            {#alert("发布活动成功！")#}
        });

        $('#select_academy').change(function () {
            var id = $(this).val();
            $.ajax({
                url: "/activities/get-admins/",
                cache: false,
                data: {
                    id
                },
                method: "POST",
                success: res => {
                    if (res.status === "ok") {
                        $('#select_to').children().remove()
                        for (let key of Object.keys(res.admin_dict)) {
                            let name = res.admin_dict[key];
                            $('#select_to').append(`<option value='${key}'>${name}</option>`);
                        }

                    } else {
                        alert("获取失败！")
                    }

                }
            })
        })

    })
  </script>
{% endblock %}
