{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    首页
{% endblock %}

{% block header_name %}
    首页&nbsp;&nbsp;

  {% if request.user.role == 3 %}
      ({{ request.user.academy }}{{ request.user.grade }}辅导员)
    {% endif %}

{% endblock %}

{% block body %}
    {% with role=request.user.role %}

    <!-- Dashboard Counts Section-->
    <section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
      <h2><span class="badge badge-secondary">公告</span>&nbsp;&nbsp;{{ notice }}</h2><br>

      <div class="row bg-white has-shadow">
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-violet"><i class="icon-user"></i></div>
            <div class="title"><span>总学生数</span></div>
            <div class="number"><strong><a href="{% url 'students:students' %}">{{ student_nums }}</a></strong></div>
          </div>
        </div>
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-red"><i class="icon-padnote"></i></div>
            <div class="title"><span>总活动数</span></div>
            <div class="number"><strong>{{ activity_nums }}</strong></div>
          </div>
        </div>
        <!-- Item -->

        {% if role == 1 %}
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-green"><i class="icon-bill"></i></div>
            <div class="title"><span>管理员数</span></div>
            <div class="number"><strong>{{ admin_nums }}</strong></div>
          </div>
        </div>
        <!-- Item -->
        <div class="col-xl-3 col-sm-6">
          <div class="item d-flex align-items-center">
            <div class="icon bg-orange"><i class="icon-check"></i></div>
            <div class="title"><span>等待审核</span></div>
            <div class="number"><strong>{{ verifying_admin_nums }}</strong></div>
          </div>
        </div>

        {% elif role == 2 or role == 3 %}
        {% endif %}
      </div>
    </div>

    </section>

    <!-- Charts Section-->
{#    <section class="charts">#}
{#      <div class="container-fluid">#}
{#        <div class="row">#}
{#          <!-- 学生排名-->#}
{#          <div class="col-lg-8">#}
{#            <div class="line-chart-example card" style="width: 700px; height: 600px;">#}
{#              <div class="card-close">#}
{#                <div class="dropdown">#}
{#                  <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>#}
{#                  <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="card-header d-flex align-items-center">#}
{#                <h3 class="h4">学时排名</h3>#}
{#              </div>#}
{#              <div class="card-body">#}
{#                <div id="bar" style="width:700px; height:500px;"></div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <!-- 班级学时平均-->#}
{#          <div class="col-lg-12">#}
{#            <div class="line-chart-example card" style="width: 1000px; height: 600px;">#}
{#              <div class="card-close">#}
{#                <div class="dropdown">#}
{#                  <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>#}
{#                  <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="card-header d-flex align-items-center">#}
{#                <h3 class="h4">班级平均学时</h3>#}
{#              </div>#}
{#              <div class="card-body">#}
{#                <div id="class-average-credit" style="width:1000px; height:500px;"></div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-lg-12">#}
{#            <div class="line-chart-example card" style="width: 1000px; height: 600px;">#}
{#              <div class="card-close">#}
{#                <div class="dropdown">#}
{#                  <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>#}
{#                  <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="card-header d-flex align-items-center">#}
{#                <h3 class="h4">年级趋势图</h3>#}
{#              </div>#}
{#              <div class="card-body">#}
{#                <div id="grade-change-per-month" style="width:1000px; height:500px;"></div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </section>#}

    {% endwith %}
{% endblock %}

{% block js %}
  <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>
  <script>
    {#var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});#}
    {#var class_average_credit_chart = echarts.init(document.getElementById("class-average-credit"), "white", {renderer:"canvas"})#}
    {#var grade_change_per_month_chart = echarts.init(document.getElementById("grade-change-per-month"), "white", {renderer:"canvas"})#}
    {#  $(function () {#}
    {#    $.ajax({#}
    {#        type: "GET",#}
    {#        url: "/stat/rank_chart/10/",#}
    {#        dataType: 'json',#}
    {#        success: function (result) {#}
    {#            chart.setOption(result.data);#}
    {#        }#}
    {#    });#}
    {##}
    {#    $.get({#}
    {#      url: "/stat/class_average_credit_chart/",#}
    {#      dataType: 'json',#}
    {#      success: res => {#}
    {#        class_average_credit_chart.setOption(res.data)#}
    {#      }#}
    {#    });#}
    {##}
    {#    $.get({#}
    {#      url: '/stat/grade_average_credit_change_per_month_chart/',#}
    {#      dataType: 'json',#}
    {#      success: res => {#}
    {#        grade_change_per_month_chart.setOption(res.data)#}
    {#      }#}
    {#    })#}
    {#  })#}
  </script>
{% endblock %}
