{% extends 'base.html' %}
{% load static %}
{% block title %}
    活动签到
{% endblock %}
{% block header_name %}
    活动签到
{% endblock %}
{% block body %}
      <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
      <li class="breadcrumb-item active">活动签到</li>
    </ul>
    </div>

    <section class="tables">
      <div class="container-fluid">
        <div class="row">
          <!-- Modal -->
          <div class="modal fade bd-example-modal" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInTitle" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="signInTitle">签到</h5>
                </div>
                <div class="modal-body">
                  <h1>请使用学时通小程序扫描二维码签到</h1><br>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label for="sign-in-select">刷新频率:</label>
                        <select class="form-control form-control-sm" name="sign-in-frequency" id="sign-in-select">
                          <option value="1">1分钟</option>
                          <option value="2">2分钟</option>
                          <option value="5">5分钟</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <p class="text-center">
                    <img id="sign-in-img" class="img-fluid" src="{% static 'img/loading.gif' %}" alt="">
                  </p>
                  <p class="text-center" style="font-size: 20px">
                    <span class="text-center">已签到
                      <span style="color: blue;" class="font-weight-bold" id="sign-in-count">20</span>人
                    </span>
                  </p>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal">关闭</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade bd-example-modal" id="personListModal" tabindex="-1" role="dialog" aria-labelledby="personListTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="personListTitle">查看活动名单</h5>
                </div>
                <div class="modal-body">
                  <h2 id="person-count-label">总人数：</h2><br>
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th scope="col">学号</th>
                        <th scope="col">姓名</th>
                        <th scope="col">班级</th>
                        <th scope="col">参与情况</th>
                      </tr>
                    </thead>
                    <tbody id="person-list-table">
                    </tbody>
                  </table>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card">
              <div class="page-header">
                  <h1>共有{{ count }}条活动</h1>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  {% with request.user.role as role %}
                  <table class="table table-striped table-hover table-bordered ">
                    <thead>
                      <tr>
                        <th>活动名</th>
                        <th>活动时间</th>
                        <th>活动地点</th>
                        <th>类别</th>
                        <th>报名身份</th>
                        <th>学时</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for activity in activities %}
                          <tr>
                          <td style="font-weight: bold"><a href="{% url 'activities:activity_detail' activity.pk %}">{{ activity.name | truncatechars:15 }}</a></td>
                          <td>{{ activity.time }}</td>
                          <td>{{ activity.place }}</td>
                          <td>{{ activity.get_credit_type_display }}</td>
                          <td>{{ activity.get_join_type_display }}</td>
                          <td>{{ activity.score }}</td>
                          <td data-pk="{{ activity.pk }}">
                            <button class="btn btn-primary btn-sm btn-blue person-list-btn" data-toggle="modal" data-target="#personListModal">名单</button>
                            <button class="btn btn-primary btn-sm sign-in-btn" data-toggle="modal" data-target="#signInModal">签到</button>
                            <button class="btn btn-warning btn-sm">签退</button>
                          </td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endwith %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'pagination.html' %}
{% endblock %}

{% block js %}
  <script>
    $(function () {
      var signInCounter = ""; // 定时器
      var frequency = 1;
      var pk = ""; // uuid
      $('.sign-in-btn').click(function () {
        pk = $(this).parent().attr("data-pk");
        refreshInterval();
      });

      $('#close-modal').click(function () {
        // 关闭模态框
        clearInterval(signInCounter);
        $('#sign-in-img').attr("src", "/static/img/loading.gif")
      });

      $('.person-list-btn').click(function () {
        // 查看活动名单
        pk = $(this).parent().attr("data-pk");
        $('#person-list-table').empty();
        $.ajax({
          url: "/operations/person-list/" + pk + "/",
          success: res => {
            if (res.status === "fail") {
              alert(res.reason);
            } else {
              let data = res.data;
              $('#person-count-label').text("总人数：" + res.count);
              for (let i = 0; i < data.length; i ++) {
                $('#person-list-table').append(
                      `<tr><td>${data[i].uid}</td><td>${data[i].name}</td><td>${data[i].clazz}</td><td>${data[i].status}</td></tr>`
                )
              }

            }
          }
        })
      });

      $('#sign-in-select').change(function () {
        // 选择频率
        frequency = $(this).val();
        $(this).val(frequency);
        refreshInterval()
      });

      function refreshInterval() {
        // 刷新频率
        if (signInCounter) {
          clearInterval(signInCounter)
        }
        signInCounter = setInterval(() => {
          $('#sign-in-img').attr("src", "/operations/qrcode/" + pk + "/" + frequency + "/" + 1 + "/" + Math.ceil(Math.random() * 1999) +"/");
        }, frequency * 1000);
      }

    })
  </script>
{% endblock %}
