{% extends 'base.html' %}
{% block title %}
    活动参加记录
{% endblock %}
{% block header_name %}
    活动参加记录
{% endblock %}
{% block css %}
  <style>
    table {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  </style>
{% endblock %}
{% block body %}
      <!-- Breadcrumb-->
    <div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
      <li class="breadcrumb-item active">活动参加记录</li>
    </ul>
    </div>

    <section class="tables">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="page-header">
                {% if request.user.role == 1 or request.user.role == 2 %}
                  <h1>共有{{ count }}条活动记录，超过65535条则不能下载</h1>
                {% endif %}
                {% if request.user.role == 3 %}
                  <h1>共有{{ count }}条记录({{ request.user.academy }}{{ request.user.grade }})</h1>
                {% endif %}
                {% if request.user.role == 4 %}
{#                  <h1>共有{{ count }}条记录</h1>#}
                  <p>以下的表格为参加您发布活动的所有学生名单，签退成功表示参加成功，系统会增加学时</p>
                {% endif %}
              </div>
              <div class="card-body">
                {% if request.user.role == 1 or request.user.role == 2 or request.user.role == 3 or request.user.role == 5 %}
                    <a style="float: right" class="btn btn-blue" href="{% url 'operations:join_list_export' %}">
                      <i class="fa fa-download">下载记录</i>
                    </a><br>
                  {% endif %}
                <div class="table-responsive">
                  {% with request.user.role as role %}
                  <table class="table table-striped table-hover table-bordered ">
                    <thead>
                      <tr>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>学院</th>
                        <th>班级</th>
                        <th>活动名称</th>
                        <th>认定项目</th>
                        <th>参加身份</th>
                        <th>获得学时</th>
                        <th>审核人</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for object in objects %}
                          <tr>
                          <td style="font-weight: bold">{{ object.uid }}</td>
                          <td><a href="{% url 'students:student_detail' object.uid %}?credit_type=qb">{{ object.name }}</a></td>
                          <td>{{ object.academy }}</td>
                          <td>{{ object.clazz }}</td>
                          <td>{{ object.activity_name }}</td>
                          <td>{{ object.credit_type }}</td>
                          <td>{{ object.join_type }}</td>
                          <td>{{ object.credit }}</td>
                          <td>{{ object.to_name }}</td>
                          </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endwith %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'pagination.html' %}
{% endblock %}
{% block js %}
  <script>
    $(function () {
      $('.alter-status').click(function () {
        if (window.confirm("是否变更为签退成功？")) {
          let record_pk = $(this).attr("data-record-pk");
          $.post({
            url: '/operations/alter-status/',
            data: {
              record_pk,
              alter_status: 3
            },
            success: res => {
              if (res.status === "ok") {
                alert("变更成功");
                window.location.reload();
              } else {
                alert("变更失败")
              }
            }
          });

        }
      })
    })
  </script>
{% endblock %}
